<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yakko Majuri | Sunday Afternoon</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />

    <link rel="stylesheet" href="main.css" />

    <style>
      details p {
        margin-top: 25px;
        font-size: 18px;
      }

      h1 {
        margin-bottom: 2px;
      }

      h2, h3, h4, h5, h6 {
        margin-bottom: 10px;
      }

      .container {
          max-width: 800px;
      }

      a {
          color: #94ceea;
      }
    </style>
    <script>
      !(function (t, e) {
        var o, n, p, r;
        e.__SV ||
          ((window.posthog = e),
          (e._i = []),
          (e.init = function (i, s, a) {
            function g(t, e) {
              var o = e.split(".");
              2 == o.length && ((t = t[o[0]]), (e = o[1])),
                (t[e] = function () {
                  t.push([e].concat(Array.prototype.slice.call(arguments, 0)));
                });
            }
            ((p = t.createElement("script")).type = "text/javascript"),
              (p.async = !0),
              (p.src = s.api_host + "/static/array.js"),
              (r = t.getElementsByTagName("script")[0]).parentNode.insertBefore(
                p,
                r
              );
            var u = e;
            for (
              void 0 !== a ? (u = e[a] = []) : (a = "posthog"),
                u.people = u.people || [],
                u.toString = function (t) {
                  var e = "posthog";
                  return (
                    "posthog" !== a && (e += "." + a), t || (e += " (stub)"), e
                  );
                },
                u.people.toString = function () {
                  return u.toString(1) + ".people (stub)";
                },
                o =
                  "capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(
                    " "
                  ),
                n = 0;
              n < o.length;
              n++
            )
              g(u, o[n]);
            e._i.push([i, s, a]);
          }),
          (e.__SV = 1));
      })(document, window.posthog || []);
      posthog.init("Tom1k0Lh0sRN7EK8LIlU5mbbmAHMBSk37lc02ZQ__38", {
        api_host: "https://app.posthog.com",
      });
    </script>
  </head>

  <body>
    <main class="container">
      <h1>Sunday Afternoon</h1>
      <small>
        <i>By <a href="https://github.com/yakkomajuri" target="_blank">Yakko Majuri</a></i>
      </small>

      <br />
      <br />
      <br />

      <div>
        <details>
          <summary>What is this website?</summary>
          <p>
            This <s>is</s> hopefuly will be where I host my "stream of
            consciousness" blog. My more structured and education-focused
            technical writing can still be found
            <a href="https://yakkomajuri.medium.com/">here</a>.
          </p>
        </details>
      </div>

      <!-- 
            <br />

        <div>
      <details>
        <summary>Why does it look like shit?</summary>
        <p>
          Like many programmers, I have a lot of side projects I'd like to work
          on. One of them was my personal blog. I used to write regularly (<a
            href="https://yakkomajuri.medium.com/"
            >here</a
          >), but I've almost completely stopped for a while now. Many times I
          started to work on a blog, but my ideas were so grandiose that I
          wasn't finding time to execute them. So, in an effort to force me to
          get started, I told myself I'd built the simplest possible blog and
          kick things into motion.
        </p>
      </details>
    </div> -->

      <br />
      <div>
        <details>
          <summary>Why is it called 'Sunday Afternoon'?</summary>
          <p>
            Sunday afternoons are often when I'm most contemplative, as well as
            when I generally have the most time to spare. They have
            traditionally been when I develop my best concepts for writing, so
            the blog name felt appropriate. The bulk of the time I spend on this
            blog will also probably happen on sunday afternoons.
          </p>
        </details>
      </div>

      <h3>Blog</h3>

      <ul>
<!--         <li><a href="blog/teeny">Why I built my own static site generator</a></li>
 -->        <li>
          <a href="blog/react-from-scratch"
            >Building a modern React app from scratch</a
          >
        </li>
        <li><a href="blog/whats-the-cost">What's the cost?</a></li>

      </ul>

      <h3>Pictures</h3>

      <p>
        As someone who does not have a social media presence, I'll be using this
        blog to display some of my favorite pictures. Currently work in
        progress - more albums coming soon.
      </p>

      <ul>
        <li>
          <a href="coronallacs.html">5 Days in the Andorran Mountains (2021)</a>
        </li>
        <li><a href="hk.html">Hong Kong Protests (2019)</a></li>
      </ul>

      <br />
      <div style="text-align: center">
        <small>Built with <b>Teeny</b></small>
      </div>
    </main>
  </body>
</html>
