<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⛰️</text></svg>"
        />
        <link rel="stylesheet" href="../css/layout.css" />
        <link rel="stylesheet" href="../css/grid.css" />

        <title>Pics - Yakko Majuri</title>

        <style>
            .subtitle {
                opacity: 50%;
                text-align: center;
                display: block;
                font-size: 12px;
                margin-top: -20px;
                margin-bottom: 10px;
                color: inherit;
                text-decoration: none;
            }
        </style>

        <script src="../modal/modal.js"></script>
    </head>
    <body>
        <script src="../js/dark-mode.js"></script>

        <nav>
            <div style="font-weight: 300">
                <a id="site-title" href="/">Yakko Majuri</a>
            </div>
            <ul id="navbar">
                <li class="nav-item"><a href="/blog">blog</a></li>
                <li class="nav-item selected"><a href="/albums">pics</a></li>
                <li class="nav-item"><a href="/poems">poems</a></li>
            </ul>
            <div class="toggle-wrapper" onclick="toggleDarkMode()">
                <button id="darkModeToggle" class="toggle-button">☀️</button>
            </div>
        </nav>

        <hr />

        <h1 style="text-align: center; font-weight: 100; margin-top: 30px; margin-bottom: 30px">Miscellaneous</h1>
        <p class="subtitle">(i.e. the OG yakko.pics)</p>

        <div class="main" id="main">
            <div class="grid" id="grid">
                <img
                    loading="eager"
                    src="../img/yakko.pics/2022_brazil_lencois_puddle.jpg"
                    onclick="openModal(this)"
                    alt="Brazil, 2022"
                />
                <img
                    loading="eager"
                    src="../img/yakko.pics/2022_iceland_easfjords_fieldmountains.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="eager"
                    src="../img/yakko.pics/2022_iceland_east_valley2.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_andorra_coronallacs_lake.jpg"
                    onclick="openModal(this)"
                    alt="Andorra, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2020_italy_tuscany_path.jpg"
                    onclick="openModal(this)"
                    alt="Italy, 2020"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_haifoss_panorama.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_brazil_lencois_pool.jpg"
                    onclick="openModal(this)"
                    alt="Brazil, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_skaftafell_glacier.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2020_malaysia_kinabalu_fog.jpg"
                    onclick="openModal(this)"
                    alt="Malaysia, 2020"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2020_malaysia_kinabalu_sunrise.jpg"
                    onclick="openModal(this)"
                    alt="Malaysia, 2020"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_andorra_coronallacs_valleyfog.jpg"
                    onclick="openModal(this)"
                    alt="Andorra, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_westfjords_bay.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_east_valley1.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2020_australia_bluemountains_waterfall.jpg"
                    onclick="openModal(this)"
                    alt="Australia, 2020"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_skaftafell_svartifoss.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_andorra_coronallacs_pathmountain.jpg"
                    onclick="openModal(this)"
                    alt="Andorra, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2020_malaysia_kinabalu_peak1.jpg"
                    onclick="openModal(this)"
                    alt="Malaysia, 2020"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_moskarnjukar_path.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2019_china_huashan_panorama.jpg"
                    onclick="openModal(this)"
                    alt="China, 2019"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_andorra_coronallacs_mountaintops.jpg"
                    onclick="openModal(this)"
                    alt="Andorra, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_fagradalsfjall_far.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_krafla_top.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_snaefellsness_peak.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_andorra_coronallacs_horses.jpg"
                    onclick="openModal(this)"
                    alt="Andorra, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2020_malaysia_kinabalu_peak2.jpg"
                    onclick="openModal(this)"
                    alt="Malaysia, 2020"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_esjan_winter.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_eastfjords_blacksandbeach.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_reyjadalur_hotlake.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_haifoss_closeup.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_laugavegur_icecap.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_fimmvorduhals_waterfall.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_reykjadalur_mountains.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2020_brazil_bau_baustone.jpg"
                    onclick="openModal(this)"
                    alt="Brazil, 2020"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_brazil_serradocipo_path.jpg"
                    onclick="openModal(this)"
                    alt="Brazil, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_andorra_coronallacs_path.jpg"
                    onclick="openModal(this)"
                    alt="Andorra, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_keilir_far.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_fimmvorduhals_eyjafjallajokull.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_laugavegur_snow.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2019_hongkong_campisland_cliff.jpg"
                    onclick="openModal(this)"
                    alt="Hong Kong, 2019"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_spain_montserrat_cliff.jpg"
                    onclick="openModal(this)"
                    alt="Spain, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2019_china_huashan_cliff.jpg"
                    onclick="openModal(this)"
                    alt="China, 2019"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_unitedstates_upstateny_frozeriver.jpg"
                    onclick="openModal(this)"
                    alt="United States, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_esjan_spring.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_moskarnjukar_parorama.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_andorra_coronallacs_valley.jpg"
                    onclick="openModal(this)"
                    alt="Andorra, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2020_taiwan_northenmostpoint_cliff.jpg"
                    onclick="openModal(this)"
                    alt="Taiwan, 2020"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_hvannadalsnjukur_peak.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_snaefellsness_cliff.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_brazil_lencois_desert.jpg"
                    onclick="openModal(this)"
                    alt="Brazil, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_esjan_fog.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_brazil_bau_dirtroad.jpg"
                    onclick="openModal(this)"
                    alt="Brazil, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_akrafjall_peak.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_kirkjufell_typical.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2020_taiwan_kenting_path.jpg"
                    onclick="openModal(this)"
                    alt="Taiwan, 2020"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_dettifoss_panorama.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2020_taiwan_hehuanshan_snow.jpg"
                    onclick="openModal(this)"
                    alt="Taiwan, 2020"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2020_taiwan_taroko_gorge.jpg"
                    onclick="openModal(this)"
                    alt="Taiwan, 2020"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_latrabjarg_path.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_laugavegur_icecap3.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_reykjadalur_river.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_andorra_coronallacs_illaview.jpg"
                    onclick="openModal(this)"
                    alt="Andorra, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_fosslaug_waterfal.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_andorra_coronallacs_7lakes.jpg"
                    onclick="openModal(this)"
                    alt="Andorra, 2021"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_iceland_bolungarvik_path.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2019_china_huashan_sunset.jpg"
                    onclick="openModal(this)"
                    alt="China, 2019"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2020_taiwan_taroko_valley.jpg"
                    onclick="openModal(this)"
                    alt="Taiwan, 2020"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2022_brazil_serradocipo_river2.jpg"
                    onclick="openModal(this)"
                    alt="Brazil, 2022"
                />
                <img
                    loading="lazy"
                    src="../img/yakko.pics/2021_iceland_keilir_close.jpg"
                    onclick="openModal(this)"
                    alt="Iceland, 2021"
                />
            </div>
        </div>

        <div id="modal" class="modal">
            <span class="close" onclick="closeModal()">&times;</span>
            <img class="modal-content" id="modalImage" />
        </div>

        <footer>
            <div class="footer-content">
                <p>© 2023 Yakko Majuri</p>
                <ul>
                    <li><a href="/contact">contact</a></li>
                    <li><a href="/links">links</a></li>
                </ul>
            </div>
        </footer>
        <script src="../js/title.js"></script>
    </body>
</html>
